# Implementation of ID3 algorithm 

### Name-Pratyoosh Anand
### Roll-TETB73
### PRN-0120190028
### Batch- B4

##### Importing the required Libraries

In [1]:
import pandas as pd
import Chefboost as chef

##### Reading the Dataset which is available in CSV format

In [2]:
df = pd.read_csv('id3_dataset.csv')

In [3]:
df

    Day   Outlook Temp. Humidity     Wind Decision
0     1     Sunny   Hot     High     Weak       No
1     2     Sunny   Hot     High   Strong       No
2     3  Overcast   Hot     High     Weak      Yes
3     4      Rain  Mild     High     Weak      Yes
4     5      Rain  Cool   Normal     Weak      Yes
5     6      Rain  Cool   Normal   Strong       No
6     7  Overcast  Cool   Normal   Strong      Yes
7     8     Sunny  Mild     High     Weak       No
8     9     Sunny  Cool   Normal     Weak      Yes
9    10      Rain  Mild   Normal     Weak      Yes
10   11     Sunny  Mild   Normal   Strong      Yes
11   12  Overcast  Mild     High   Strong      Yes
12   13  Overcast   Hot   Normal     Weak      Yes
13   14      Rain  Mild     High  Strong        No

In [4]:
df.describe()

           Day
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day       14 non-null     int64
 1   Outlook   14 non-null     object
 2   Temp.     14 non-null     object
 3   Humidity  14 non-null     object
 4   Wind      14 non-null     object
 5   Decision  14 non-null     object
dtypes: int64(1), object(5)
memory usage: 800.0+ bytes

##### Configuring the model and fitting the dataset using chef.fit()

In [6]:
config = {'algorithm':'ID3'}
model = chef.fit(df,config)

[INFO]:  8 CPU cores will be allocated in parallel running
ID3  tree is going to be built...
-------------------------
finished in  1.4089164733886719  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  14  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[5, 0], [0, 9]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

#### Let's find the prediction of our model when attributes are Sunny,Hot,High,Weak.

In [7]:
chef.predict(model,['Sunny','Hot','High','Weak'])

'Yes'

#### Now' lets test are model and compare the predicted and actual value.

In [8]:
for index,instance in df.iterrows():
    prediction = chef.predict(model,instance)
    actual = instance['Decision']
    print(prediction,"vs",actual)

No vs No
No vs No
Yes vs Yes
Yes vs Yes
Yes vs Yes
No vs No
Yes vs Yes
No vs No
Yes vs Yes
Yes vs Yes
Yes vs Yes
Yes vs Yes
Yes vs Yes
No vs No